@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Geist+Mono:wght@100..900&display=swap');

/* @font-face {
    font-family: 'Lato Black';
    src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: 'Geist Mono';
    src: url('fonts/GeistMono/GeistMonoVF.ttf');
} */

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.bottom-left {
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: white;
    display: flex;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 20px;
    font-family: Arial;
    display: flex;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#arrayShape {
    color: white;
    text-decoration: none;
    font-family: 'Geist Mono', monospace;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    padding: 10px 20px;
}

.supported {
    text-align: right;
    padding: 10px;
    color: rgb(0, 0, 0, 0.5);
    margin-top: -2em;
}

.distribution {
    /* position: fixed; */
    /* bottom: 92px; */
    right: 0;
    margin: 0;
    height: 180px;
    width: 270px;
}

.query-container {
    /* position: fixed; */
    /* bottom: 15px; */
    /* right: 15px; */
    align-self: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    width: 200px;
    padding: 10px 20px;
    color: white;
    font-family: 'Geist Mono', monospace;
}

.donate-link-container {
    color: #00ff00;
    font-size: 0.75em;
    margin-left: 2em;
    font-weight: 400;
    font-family: 'Geist Mono', monospace;
    padding-top: 2px;
    align-self: flex-end;
    margin-bottom: 15px;
    margin-right: 5px;
}

.donate-link {
    cursor: pointer;
    color: #00ff00;
    text-decoration: none;
}

.donate-link:hover {
    color: white;
}

.equality-container {
    display: flex;
    font-weight: 400;
}

.x-equals {
    margin: auto;
    letter-spacing: 6px;
}

#equalityQuery {
    margin: 5px 0 5px 0;
    width: 100%;
}

.inequality-container {
    display: flex;
}

#greaterThanQuery,
#lessThanQuery {
    width: 100%;
    margin: 5px 0;
    flex: 1;
}

.x-inequality {
    margin: auto 5px auto 7px;
    letter-spacing: 3px;
}

input {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 4px;
}

.red {
    color: red;
}

.green {
    color: rgb(0, 255, 0);
}

.blue {
    color: blue;
}

.multiply {
    padding: 0 0.2em;
}


#gui {
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    margin: auto;
    font-family: 'Funnel Sans', sans-serif;
    max-width: 1000px;
}

.title {
    font-family: 'Funnel Sans', sans-serif;
}

.github-image-container {
    opacity: 0.5;
    width: 40px;
    margin: 1.8em auto auto;
}

.github-image {
    width: 100%;
    cursor: pointer;
}

#arrayInput {
    resize: none;
    margin-bottom: 2.5em;
    height: 68vh;
    font-family: 'Geist Mono', monospace;
    font-weight: 500;
    border-radius: 7px;
    padding: 8px;
}

#runViz {
    margin: auto;
    background-color: #134aef;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Funnel Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#runViz:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media only screen and (max-width: 600px) {
    #gui {
        padding: 1em 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .donate-link-container {
        margin-bottom: 5em;
    }

}

#gui,
#dataViz,
.inequality-container,
.equality-container {
    display: none;
}

#cookieConsentBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: 'Funnel Sans', sans-serif;
}

#cookieConsentBanner button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cookieConsentBanner button:hover {
    background-color: #45a049;
}

.privacy-policy-link {
    color: #3498db;
    /* color: rgb(46, 229, 239); */
}